<html>
    <head>
        <title>To Do List</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
        <h1>Welcome to To Do List</h1>
        <h3>{{ task.getDescription }}:</h3>

        {% if categories is not empty %}
            <h5>Here are the categories for this task.</h5>
            <ol>
            {% for category in categories %}
                <p>{{ category.getName }}</p>
            {% endfor %}
            </ol>
            {% else %}
            <p>You have free time!</p>
            <p>Why not add a category?</p>
        {% endif %}

        <h4>Add a Category to this Task.</h4>

        <form action="/add_categories" method="post">
            <label for="category_id">Select a category</label>
            <input value="{{ task.getId }}" id="task_id" name="task_id" type="hidden">
            <select id="category_id" name="category_id" type="text">
                {% for category in all_categories %}
                    <option value="{{ category.getId }}"> {{ category.getName }} </option>
                {% endfor %}
            </select>
            <button type="submit">Add Category</button>
        </form>

        <form action="/tasks/{{ task.getId }}/edit">
            <button type="submit">Edit Task</button>
        </form>

        <form action="/tasks">
            <button type="submit">Back</button>
        </form>


        <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
